/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */

/* Debug Header */
.debug .dash {
    border: 3px dashed black;
}

.debug .white-dash {
    border: 3px dashed white;
}

.debug .header-top {
    height: 80px;
}

.debug .nav {
    background-color: #DAA520;
    min-height: 50px;
}

.debug .header-bottom {
    height: 500px;
}

.debug .jumbotron {
    height: 400px;
   background-color: #EE82EE;
}

.debug .central-section {
    height: 600px;
}

/* Debug Main */

.debug .content {
    min-height: 500px;
}

.debug .content-blue {
    background-color: #1E90FF;
}

.debug .content-pink {
    background-color: #FFC0CB;
}

.debug .bottom-section {
    height: 1000px;
}

.debug .green-box {
    height: 900px;
    background-color: #228B22;
}

/* Debug Footer */

.debug .footer-top {
    height: 630px;
}

.debug .content-footer-top, .debug .content-coral, .debug .content-aqua {
    min-height: 580px;
}

footer .content-coral {
    background-color: #F08080;
}

footer .content-aqua {
    background-color: #20B2AA;
}

.debug .footer-bottom {
    height: 110px;
}

.debug .content-footer-bottom {
    min-height: 80px;
    background-color: #7FFFD4;
}

/*
****
COMMON
**** 
 */

.btn {
    border-radius: 25px;
    text-decoration: none;
}

.white {
    background-color: #ffffff;
    padding: 15px;
    color: #181c3a;
}

.white:hover {
    color: #255ee9;
    box-shadow: 0 2px 8px 2px #444444;
}

.black {
    background-color: #23272a;
    padding: 15px;
    color: #fffaea;
}

.black:hover {
    box-shadow: 0 2px 8px 2px #dddddd;
}

/* Header Top*/

header {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.header-top {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: #ADD8E6; */
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    line-height: 50px;
    margin: 0 auto;
}

nav .img {
    padding-top: 10px;
}

.nav-side {
    width: 20%;
}

/* .nav-center {
    width: 60%;
    text-align: center;
} */

header .header-top nav ul {
    min-width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

header .header-top nav ul a {
    color: inherit;
    text-decoration: none;
}

header .header-top nav ul a:hover {
    text-decoration: underline;
}

nav .right {
    text-align: right;
}

header .header-top nav .right a {
    padding: 10px;
}

    /* padding-right: 10px
}

nav .left {
    padding-left: 10px;
} */

/* Header Bottom */

.header-bottom {
    padding: 50px;
    /* background-color: #00008B; */
    border-bottom: 4px solid #ADD8E6;
}

.header-bottom .jumbotron {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

header .header-bottom h1 {
    margin: 100px 0 45px 0;
    font-size: 45px;
    font-weight: 700;
}

header .header-bottom p {
    line-height: 35px;
    font-size: 20px;
    margin-bottom: 35px;
}

header .header-bottom .btn-header-bottom {
    margin: 0 0 80px 0;
}

header .header-bottom div a:first-child::before {
    content: '\2193';
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px 9px 0;
}

header .header-bottom div > a {
    margin: 0 10px;
}

/* Main Section */ 

section {
     padding: 50px 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

section .content {
    max-width: 1200px;
    display: flex;
}

section:nth-child(even) {
    background-color: #D3D3D3;
}

section .content-pink {
    width: 40%;
}

section .content-blue {
    width: 60%;
}

/* section .content-blue {
    flex-grow: 2.5;
}

section .content-pink {
    flex-grow: 1.5;
} */

section .bottom-section {
    padding: 50px 0;
}

.green-box {
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer */

/* Footer Top */

footer {
    background-color: #23272A;
    /* display: flex;
    justify-content: center; */
}

footer .footer-top {
    padding: 10px 40px 0;
    border-bottom: 4px solid #9A9A9A;
}

footer .content-footer-top {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

footer .content-coral {
    flex-grow: 2;
}

footer .content-aqua {
    flex-grow: 1;
}

/* Footer Bottom */

footer .footer-bottom {
    padding: 30px 0 0 0;
    border-bottom: 4px solid #9A9A9A;
}

.content-footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 5px;
    background-color: #FFC6B1;
}