/*
****
RESET
****
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
****
TYPE
****
 */

body {
    font-family: 'Open Sans', sans-serif;
}

body p {
    line-height: 35px;
    font-size: 20px;
}

main section h2 {
    font-size: 44px;
    font-weight: 700;
}

/*
****
COMMON
**** 
 */

/* bottoni */

.btn {
    border-radius: 30px;
    text-decoration: none;
    font-family: inherit;
}

.big {
    padding: 15px;
    font-size: 20px;
} 

.small {
    padding: 10px;
    font-size: 14px;
}

.white {
    background-color: #ffffff;
    color: #181c3a;
}

.white:hover {
    color: #255ee9;
    box-shadow: 0 2px 8px 2px #444444;
    background-color: #eeeeee;
}

.black {
    background-color: #23272a;
    color: #fffaea;
}

.black:hover {
    background-color: #444444;
    box-shadow: 0 2px 8px 2px #dddddd;
}

.blue {
    color: #ffffff;
    background-color: #7289da;
}

.blue:hover {
    background-color: #255ee9;
    box-shadow: 0 2px 8px 2px #aaaaaa;
}

.download::before {
    content: '\2193';
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px 9px 0;
}

/* fine bottoni */

.wide {
    max-width: 1200px;
}

ul {
    list-style-type: none;
}

main section:nth-child(odd) .content-pink {
    margin-left: -50px;
}

main section h2 {
    margin-bottom: 30px;
}

/*
****
HEADER TOP
****
*/

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

header .header-top {
    padding: 15px 0;
}

header .header-top nav {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    margin: 0 auto;
}

header .header-top nav .img {
    padding-top: 10px;
}

header .header-top nav .nav-side {
    width: 20%;
}

header .header-top nav .nav-center ul {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

header .header-top nav .nav-center ul a {
    color: inherit;
    text-decoration: none;
}

header .header-top nav .nav-center ul a:hover {
    text-decoration: underline;
}

header .header-top nav .right {
    text-align: right;
}

/*
****
HEADER BOTTOM
****
*/

header .header-bottom {
    padding: 50px;
}

header .header-bottom .jumbotron {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

header .header-bottom .jumbotron h1 {
    margin: 100px 0 45px 0;
    font-size: 45px;
    font-weight: 700;
}

header .header-bottom .jumbotron p {
    margin-bottom: 35px;
}

header .header-bottom .jumbotron .btn-header-bottom {
    margin: 0 0 80px 0;
}

header .header-bottom div > a {
    margin: 0 10px;
}

/*
****
MAIN
****
*/ 

/* 
****
CENTRAL SECTION
****
*/

main section {
     padding: 80px 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

main section .content {
    display: flex;
}

main section:nth-child(even) {
    background-color: #f6f6f6;
}

main section .content .content-pink {
    width: 35%;
    padding: 35px 40px 0 0;
}

main section .content .content-blue {
    width: 65%;
}

/*
****
BOTTOM SECTION
****
*/

main section .bottom-section {
    padding: 50px 0;
}

main .bottom-section .green-box {
    margin: 0 auto 55px;
}

main .bottom-section .green-box {
    text-align: center;
}

main .bottom-section .green-box img {
    width: 100%;
}

main .bottom-section .green-box h3 {
    margin: 30px 0 60px 0;
    font-size: 28px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 50px;
}

/*
****
FOOTER
****
*/

/*
****
FOOTER TOP
****
*/

footer {
    background-color: #23272A;
    color: white;
}

footer .footer-top {
    padding: 10px 40px 0;
}

footer .content-footer-top {
    display: flex;
    justify-content: space-between;
    margin: 55px auto 0;
    border-bottom: 2px solid #4f5d8c;
    padding-bottom: 25px;
}

footer .content-footer-top .content-coral {
    width: 25%;
}

footer .content-footer-top .content-coral strong {
    font-size: 30px;
    color: #7289d0;
}

footer .content-footer-top .content-coral .lingua {
    margin: 10px 0;
}

footer .content-footer-top .content-coral .lingua .ita {
    width: 20px;
    vertical-align: middle;
}

footer .content-footer-top .content-coral div::after {
    content: '\2304';
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 13px 1px;
}

footer .content-footer-top .content-coral .fa-brands {
    margin-right: 20px;
    font-size: 18px;
}

footer .content-footer-top .content-aqua {
    flex-grow: 1;
}

footer .content-footer-top .content-aqua ul li:first-child {
    color: #7289d0
}

footer .content-footer-top .content-aqua ul li {
    margin-bottom: 15px;
}

footer .content-footer-top a {
    text-decoration: none;
    color: inherit;
}

footer .content-footer-top .content-aqua ul li a:hover {
    text-decoration: underline;
}

/*
****
FOOTER BOTTOM
****
*/

footer .footer-bottom {
    padding: 10px 0 50px 0;
    border-bottom: 4px solid #9A9A9A;
}

footer .content-footer-bottom {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
**** 
DEBUG
****
 */

/* Debug Header */
.debug .dash {
    border: 3px dashed black;
}

.debug .white-dash {
    border: 3px dashed white;
}

.debug .header-top {
    height: 80px;
}

.debug .nav {
    background-color: #DAA520;
    min-height: 50px;
}

.debug .header-bottom {
    height: 500px;
}

.debug .jumbotron {
    height: 400px;
   background-color: #EE82EE;
}

.debug .central-section {
    height: 600px;
}

/*
****
DEBUG MAIN
****
*/

.debug .content {
    min-height: 500px;
}

.debug .content-blue {
    background-color: #1E90FF;
}

.debug .content-pink {
    background-color: #FFC0CB;
}

.debug .bottom-section {
    height: 1000px;
}

.debug .green-box {
    height: 900px;
    background-color: #228B22;
}

/*
****
DEBUG FOOTER
****
*/

.debug .footer-top {
    height: 630px;
}

.debug .content-footer-top, .debug .content-coral, .debug .content-aqua {
    min-height: 580px;
}

.debug footer .content-coral {
    background-color: #F08080;
}

.debug footer .content-aqua {
    background-color: #20B2AA;
}

.debug .footer-bottom {
    height: 110px;
}

.debug .content-footer-bottom {
    min-height: 80px;
    background-color: #7FFFD4;
}